# Remove all of the Data from The Pre Trained Model -> too much for Git
complex_word_model/

# Remove all of the Data from The Epoch Results -> too much for Git
results/*
results.txt
# Empty folder
tmp_trainer/

# SKLearn approach that didn't work out
sklearn_approach/
